body{
    margin: 0;
   
}

/* Navigation */
.navigation {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: #171a29;
    color: #fff;
    
}

.navigation-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
    text-decoration: none;
     margin: 0;
     
}

.navigation-links a {
    color: #fff;
    text-decoration: none;
}

.navigation-links a:hover {
    color: #fff;
    text-decoration: none;
}

/* Hero */
.hero {
    display:flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #171a29;
    color: #fff;
    padding: 30px 100px;
    margin: 0;

}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sign-up {
    display: flex;
    align-items: center;
}

.sign-up a {
    background-color: rgb(32, 89, 212);
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
}

.random-information {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.random-information-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;

    padding: 30px 100px;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    border-radius: 20px;
}

.content img {
    border-radius: 20px;
}

.random-quote {
      padding: 10px;
    background-color: #ebe8e8;

}

.random-quote blockquote {
    font-style: italic;
    font-size: 24px;
    /* padding: 10px;
    background-color: #ebe8e8; */
}

.random-quote h4 {
    text-align: end;
     /* padding: 10px;
    background-color: #ebe8e8; */
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #0e8af0;
    color: white;

    padding: 30px 60px;
    margin: 50px 30px;
    


}

.call-to-action-text > p, h5 {
    margin: 0;
}

.call-to-action .sign-up a {
     background-color: #0e8af0;
     border: solid #fff;
}

.footer {
    display: flex;
    flex-direction: column;
     align-items: center;
     /* justify-content: center; */
     background-color: #020227;
     color: #fff;
    }
   

.footer h6 {
font-weight: normal;
}

   
     





